# Basic requirements:
luigi==3.0.2
kubernetes==17.17.0
google-auth==1.24.0
google-api-core==1.23.0
google-api-python-client==1.12.8
google-cloud-bigquery==2.6.2
google-cloud-storage==1.33.0
pandas==1.1.4
pandas-gbq==0.15.0
sqlalchemy==1.4.6
tqdm==4.61.0